<div class="podcast-wrapper">

    <div class="menu" (click)="toggleMenu()" tabindex="0" aria-label="menu">
        <span class="path"></span>
        <span class="path"></span>
        <span class="path"></span>
    </div>

    <div id="banner-container">
        <span id="oval"></span>
        <div id="banner-text-container">
            <!--  aria-label="Top 5 Web Design Podcasts" -->
            <h1 id="main" tabindex="0">
                <span id="hdr-top-5" [innerHTML]="'Top 5'"></span>
                <span id="hdr-web-design" [innerHTML]="'Web Design'"></span>
                <span id="hdr-podcasts" [innerHTML]="'Podcasts'"></span>
            </h1>
        </div>
    </div>

    <div id="list">

        <div *ngFor="let podcast of podcasts; let i = index"  class="card-container">

            <span class="dot">
                <span class="indexNumber" [innerHTML]="i + 1"></span>
            </span>

            <div class="flex-container">
                <div class="image-container">
                    <img src="{{podcast.thumbnail}}" alt="">
                </div>
                
                <div class="details-container">
                    <div class="content-spacer">
                        <h2 class="title" tabindex="0" attr.aria-label="{{i+1}} {{podcast.title}}" [innerHtml]="podcast.title"></h2>
                    </div>
                    <div class="content-spacer">
                        <span>by </span>
                        <a class="publisher" attr.aria-label="by {{podcast.publisher}}" href="http://www.google.com/search?q={{podcast.publisher}}" target="_blank" [innerHtml]="podcast.publisher"></a>
                    </div>
                    <div class="content-spacer">
                        <span class="episodes" [innerHtml]="podcast.total_episodes + ' episodes'"></span>
                    </div> 
                    <div class="content-spacer social-media-container">
                        <span class="itunes">
                            <a href="https://podcasts.apple.com/us/podcast/id{{podcast.itunes_id}}" target="_blank" [innerHtml]="'ITUNES'"></a>
                        </span>
                        <span class="web">
                            <a href="{{podcast.website}}" target="_blank" [innerHtml]="'WEB'"></a>
                        </span>
                        <span class="rss">
                            <a href="{{podcast.rss}}" target="_blank" [innerHtml]="'RSS'"></a>
                        </span>
                    </div>           
                </div>

            </div>

            <div class="podcast-description-container">
                <span [innerHtml]="podcast.description"></span>
            </div>            

        </div>
    </div>

</div>
