.podcast-wrapper{

    .menu {
        width: 30px;
        height: 20px;
        margin: 20px 40px;

        .path {
            width: 100%;
            height: 3.33px;
            background: #222222;
            margin: 2px 0px;
            float: left;
        }
        .path:hover {
            background: $podcastColor2;
            cursor: pointer;
        }
        .path:active {
            background: $podcastColor2;
            cursor: pointer;
        }
    }
    .menu:hover {
        background: $podcastGrey;
    }
    .menu:active {
        background: $podcastGrey;
    }

    #banner-container {
        width: 100%;
        min-height: 134px;
        background: #4e105c;
        text-align: center;
        margin: 0 0 30px 0;

        background-image: url('/assets/images/svg/circle.svg'), url('/assets/images/svg/triangle.svg');
        background-repeat: no-repeat, no-repeat;
        background-position:80% 135%, 80% 100%;

        #banner-text-container {
            margin: 0 auto;
            display: inline-block;

            h1 {
                //line-height: 125px;
                height: 65px;
                color: #ffffff;
                font-family: "Space Mono";
                font-size: 44px;
                font-weight: 400;
                line-height: 65px;
                text-align: center;

                span {
                    margin: 0 5px;
                    display: inline-block;
                }

                // #hdr-top-5,
                // #hdr-podcasts {
                // }

                #hdr-web-design {
                    background: linear-gradient(90deg, #FD741B, #A300BB);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
    }

    #list {
        max-width: 810px;
        margin: 0 auto;

        .card-container {
            float: left;
            max-width: 700px;
            min-height: 205px;
            border-radius: 3px;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(165,2,186,0.25);
            margin: 10px 20px 10px 100px;
            position:relative;

            .flex-container {
                float: left;
            }

            .dot {
                z-index: 5;
                width: 50px;
                height: 50px;
                background: linear-gradient(180deg, #FD741B, #A300BB);
                border-radius: 50%;
                display: inline-block;
                position: relative;
                left: -550px;
            }
            .indexNumber {
                display: inline-block;
                position: absolute;
                left: 16px;
                top: 2px;

                color: #ffffff;
                font-family: "Space Mono";
                font-size: 30px;
                font-weight: 700;
                line-height: 44px;
            }

            .image-container {
                float: left;
                max-width: 145px;

                img {
                    left: -30px;
                    position: relative;
                    top: 30px;
                    border: 1px solid #dcdcdc;
                    width: 145px;
                    height: 145px;
                }
            }
            .details-container {
                float: left;
                max-width: 290px;
                margin: 10px 10px;

                h2 {
                     color: #222222;
                    font-family: "Space Mono";
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 30px;
                    margin: 0px;
                }
                .content-spacer {
                    float: left;
                    margin: 10px 0px;
                    width: 100%;

                    a:link,
                    a:visited {
                        color: $podcastColor1;
                    };
                    a:hover,
                    a:active {
                        color: $podcastColor2;
                    };

                    .publisher {
                        //color: $podcastColor1;
                        font-family: "Space Mono";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;                        
                    }                    

                    .episodes {
                        color: #222222;
                        font-family: "Space Mono";
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }

                .social-media-container {
                    border-top: solid 1px #cccccc;
                    padding-top: 10px;
                    font-family: "Space Mono";
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 18px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    a:link,
                    a:visited {
                        color: #777777;
                    };
                    a:hover,
                    a:active {
                        color: #fc731c;
                    };

                    .itunes {
                        a {
                            text-decoration: none;
                        }
                        a::before {
                            display: inline-block;
                            content: " ";
                            background-image: url('/assets/images/svg/apple.svg');
                            background-size: 12px 12px;
                            height: 12px;
                            width: 12px;
                            margin-right: 5px;
                        }
                        a:hover::before {
                            background-image: url('/assets/images/svg/apple_orange.svg');
                        }
                        
                        margin-right: 20px;

                        .itunes-icon {
                            margin: 0px 3px 4px 0px;
                            vertical-align: middle;
                        }
                    }
                    .web {
                        margin-right: 20px;

                        a {
                            text-decoration: none;
                        }
                        a::before {
                            display: inline-block;
                            content: " ";
                            background-image: url('/assets/images/svg/link.svg');
                            background-size: 12px 12px;
                            height: 12px;
                            width: 12px;
                            margin-right: 5px;
                        }
                        a:hover::before {
                            background-image: url('/assets/images/svg/link_orange.svg');
                        }

                        .web-icon {
                            margin: 0px 3px 4px 0px;
                            vertical-align: middle;
                        }
                    }
                    .rss {

                        a {
                            text-decoration: none;
                        }
                        a::before {
                            display: inline-block;
                            content: " ";
                            background-image: url('/assets/images/svg/rss.svg');
                            background-size: 12px 12px;
                            height: 12px;
                            width: 12px;
                            margin-right: 5px;
                        }
                        a:hover::before {
                            background-image: url('/assets/images/svg/rss_orange.svg');
                        }

                        .rss-icon {
                            margin: 0px 3px 4px 0px;
                            vertical-align: middle;
                        }
                    }                    
                }
            }
            .podcast-description-container {
                float: left;
                max-width: 214px;
                max-height: 128px;
                overflow: hidden;
                margin: -30px 10px;
                width: 214px;
                height: 128px;
                font-family: "Work Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
}

// MEDIA QUERIES 
@media only screen and (max-width : 840px) {
    .podcast-wrapper #banner-container #banner-text-container h1 {
        line-height: 44px;
    }
}

@media only screen and (max-width : 456px) {
    .podcast-wrapper #banner-container {
        padding-bottom: 30px;
    }
}
@media only screen and (min-width : 457px) {
    .podcast-wrapper #banner-container {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width : 841px) {
    .podcast-wrapper #list .card-container .podcast-description-container {
        float: left;
        max-width: inherit;
        max-height: inherit;
        overflow: hidden;
        margin: 0px 20px 20px 20px;
        width: auto;
        height: auto;
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

@media only screen and (max-width : 657px) {
    .podcast-wrapper #list .card-container .dot {
        position: absolute;
        left: -30px;
        top: -27px;
    }
    
    .podcast-wrapper #list .card-container {
        margin: 10px 20px 10px 30px;
        position: relative;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
    }
    
    .podcast-wrapper #list .card-container .image-container { 
        width: 80px;
        img {
            width: 106px;
            height: 106px;
        }
    }
}




