@font-face {
    font-family: 'Space Mono';
    src: url('/assets/fonts/Italic/SpaceMono-Italic.woff2') format('woff2'),
        url('/assets/fonts/Italic/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Medium/WorkSans-Medium.woff2') format('woff2'),
        url('/assets/fonts/Medium/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/fonts/Bold/SpaceMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/Bold/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/fonts/Bold/SpaceMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/Bold/SpaceMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/ExtraBold/WorkSans-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/ExtraBold/WorkSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Regular/WorkSans-Regular.woff2') format('woff2'),
        url('/assets/fonts/Regular/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/fonts/BoldItalic/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/BoldItalic/SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Bold/WorkSans-Bold.woff2') format('woff2'),
        url('/assets/fonts/Bold/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Thin/WorkSans-Thin.woff2') format('woff2'),
        url('/assets/fonts/Thin/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/fonts/Regular/SpaceMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/Regular/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Light/WorkSans-Light.woff2') format('woff2'),
        url('/assets/fonts/Light/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/SemiBold/WorkSans-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/SemiBold/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/Black/WorkSans-Black.woff2') format('woff2'),
        url('/assets/fonts/Black/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/ExtraLight/WorkSans-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/ExtraLight/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

